<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Authentification</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous"></head>

<body>

<section class="hero is-fullheight" style="background-color:#C4FCEF;">
  <!-- <style>
  li {float: right;}
  </style> -->
    <div class="hero-head">

      <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
        <!-- <nav class="navbar"> -->

        <div class="container-fluid">

<a class="navbar-brand" href="#">Smart Learning</a>
    <ul class="navbar-nav ml-auto">
            <div class="container">
<!-- <a class="mb-0 h1 navbar-brand active" href="#/"> Smart Learning</a> -->
                <div id="navbarMenuHeroA" class="navbar-menu ml-auto">
                    <!-- <a class="navbar-brand" href="#">Smart Learning</a> -->
                  <li class="nav-item ml-auto">
                          <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
                        </li>
                        {% if current_user.is_authenticated %}
                        <li class="nav-item ml-auto">
                                <a class="nav-link" href="{{ url_for('main.profile') }}">Profile</a>
                              </li>
                        {% endif %}
                        {% if not current_user.is_authenticated %}
                        <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                              </li>
                              <li class="nav-item">
                                      <a class="nav-link" href="{{ url_for('auth.signup') }}">Sign up</a>
                                    </li>

                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                              </li>
                        {% endif %}
                    </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            {% block content %}{% endblock %}
        </div>
    </div>
</section>
</body>

</html>
