{% extends "base.html" %}

{% block content %}
<head>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
</head>
<style>
  form { display: inline; }
</style>
<h1 class="title">
    Learning Assistant
</h1>
<h2 class="subtitle">
    Fibonacci spaced learning
</h2>
{% if current_user.is_authenticated %}
<form action="/edit" method="GET">
  <button type="submit" method="GET" class="btn btn-secondary">Start learning session</button>
<!-- <input type="submit" value="Start learning session" style="font-family: Monaco; font-size: 20px"> -->
</form>
<form action="/read" method="GET">
<!-- <input type="submit" value="Edit today's file" style="font-family: Monaco; font-size: 20px"> -->
  <button type="submit" class="btn btn-primary">Edit today's file</button>
</form>


<!-- <button type="button" class="btn btn-primary">Primary</button> -->

{% endif %}
{% endblock %}


---------------Folder prject name
               ├── __init__.py # setup your app
               ├── main.py   # the non-auth routes for your app
               ├── auth.py   # the auth routes for your app
               ├── models.py # your user model
               ├── db.sqlite # your database
               └── templates
                    ├── base.html     # contains common layout and links
                    ├── index.html    # show the home page
                    ├── login.html    # show the login form
                    ├── profile.html  # show the profile page
                    └── signup.html   # show the signup form
